@font-face { /* tror ikke jeg vil bruke denne */
    font-family: 'Staatliches';
    src: url(./media/Staatliches/Staatliches.ttf);
}
@font-face {
    font-family: 'YesevaOne';
    src: url(./media/Yeseva_One/YesevaOne.ttf);
}
@font-face {
    font-family: 'Barlow';
    src: url(./media/Barlow/Barlow-Regular.ttf);
    /* weight 400 */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
width: 100%;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        'header'
        'main'
        'footer';
}
body > header {
    grid-area: header;
}
body > main {
    grid-area: main;
}
body > footer {
    grid-area: footer;
}





header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 14px;
}
.header {
    color: black;
    position: relative;
    text-decoration: none;
    font-family: 'YesevaOne';
}
.header::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    border-radius: 4px;
    background-color: black;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}
.header:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}




main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    width: 100vw;
}



.card {
    display: flex;
    flex-direction: column;
    width: 90%;
}
.img {
    display: inline;
    width: 100%;

}



.githubLink {
    text-decoration: none;
    color: #18272F;
    position: relative;
    font-family: 'Barlow';
}
.githubLink::before {
    content: '';
    background-color: hsla(196, 61%, 58%, .75);
    position: absolute;
    left: 0;
    bottom: 3px;
    width: 100%;
    height: 8px;
    z-index: -1;
    transition: all .3s ease-in-out;
}
.githubLink:hover::before {
    bottom: 0;
    height: 100%;
}



    /* TABLET */
    @media (min-width: 481px) {
        .card {
            width: 30%;
        }
   }
    /* DESKTOP */
    @media (min-width: 1025px) {
        .card {
            width: 30%;
        }
    }